@import "../utilities/variables.scss";

.error {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100%;
    gap: 139px;
    color: $secondary-color;
    margin: 117px 0px;

    &-link, a {
        color: $secondary-color;
    }

    &-404 {
        font-size: clamp(96px, 20vw, 288px);
        font-weight: 700;
    }

    &-text {
        font-size: clamp(18px, 2vw, 36px);
    }

    &-return {
        display: none;
    }
}

@media screen and (max-width: 380px) {
    .error {
        gap: 113px;

        &-404 {
            font-size: 96px;
        }

        &-text {
            font-size: 18px;
        }

        &-return {
            display: block;
        }
    }
}